/* header info */


body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
}


header {
  display: flex;
  position: fixed;
  align-items: center;
  border-bottom: 1px solid seashell;
  width: 1240px;
  height: 69px;
  z-index: 1;
  background-color: black;
}

.logo {
  display: flex;
  align-items: center;
  padding-left: 10px;
  flex-grow: 1;
}

.logo img {
  height: 50px;
}

header nav {
  padding-right: 5px;
}

nav span {
  display: inline-block;
  padding-left: 20px;
}

a {
  color: seashell;
}

/* content info */


.content {
  padding-top: 69px;
  width: 100%;
  margin: 0 auto;
}

.top {
  background-image: url("../images/mission-background.jpg");
  height: 700px;
  width: 1200px;
  font-size: 40px;
  text-align: center;
  margin-top: 0px;
  margin: 0px 20px;
}






/* footer info */

footer {
  display: flex;
  width: 100%;
  height: 250px;
  background-color: black;
  margin: auto;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: Verdana;
  font-size: 12px;
}

footer div {
  font-family: Georgia;
  font-size: 16px;
  font-weight: bold;
  color: white;
  padding-right: 25px;
  margin-right: 10px;
  display: inline-block;
}


div span {
  display: inline-block;
  padding: 20px 10px;
  color: white;
}
